<a href="https://colab.research.google.com/github/Arif264Shaik/Ola-Performance-Analysis/blob/main/SQL%20Query.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 1 Retrieve all successful bookings:

CREATE VIEW Successfull_Bookings AS
SELECT * FROM BOOKINGS
where Booking_Status = 'success';

SELECt * from Successfull_bookings;

# 2 Find the average ride distance for each vehicle type:

CREATE VIEW Average_Distance AS
select Vehicle_type, round(avg(ride_distance), 2) as Avg_Ride_Distance
from bookings
group by Vehicle_Type
order by avg_ride_distance DESC;

Select * from Average_Distance;

# 3 Get the total number of cancelled rides by customers:

CREATE VIEW Bookings_Canceled_By_Customer AS
SELECT count(*) Canceled_By_Customer FROM bookings
where Booking_Status = 'canceled by customer';

SELECT * FROM Bookings_Canceled_By_Customer;

# 4 List the top 5 customers who booked the highest number of rides:

CREATE VIEW Top5_Cust AS
SELECT Customer_ID, COUNT(Booking_ID) AS Total_Rides
FROM bookings
GROUP BY Customer_ID
ORDER BY Total_Rides DESC
LIMIT 5;

SELECT * FROM Top5_Cust;

# 5 Get the number of rides cancelled by drivers due to personal and car-related issues:

CREATE VIEW Canceled_By_Drivers_PC_Issues AS
SELECT COUNT(*) AS Canceled_By_Driver FROM bookings
WHERE Canceled_Rides_by_Driver = 'PERSONAL & CAR RELATED ISSUE';

SELECT * FROM Canceled_By_Drivers_PC_Issues;

# 6 Find the maximum and minimum driver ratings for Prime Sedan bookings:

CREATE VIEW Max_Min_Driver_Rating AS
SELECT MAX(Driver_Ratings) AS Max_Rating, MIN(Driver_Ratings) AS Min_Rating
FROM bookings
WHERE Vehicle_Type = 'prime sedan';

SELECT * FROM Max_Min_Driver_Rating;

# 7 Retrieve all rides where payment was made using UPI:

CREATE VIEW Upi_Payment AS
SELECT * FROM bookings
WHERE Payment_Method = 'upi';

SELECT * FROM Upi_Payment;

# 8 Find the average customer rating per vehicle type:

CREATE VIEW Avg_Cust_Rating_Vtype AS
SELECT ROUND(AVG(Customer_Rating), 2) AS Avg_Cust_Rating, Vehicle_Type
FROM bookings
GROUP BY 2
ORDER BY 1 DESC;

SELECT * FROM Avg_Cust_Rating_Vtype;

# 9 Calculate the total booking value of rides completed successfully:

CREATE VIEW Successful_Ride_Value AS
SELECT SUM(Booking_Value) AS Successful_Ride_Amount
FROM bookings
WHERE Booking_Status = 'SUCCESS';

SELECT * FROM Successful_Ride_Value;

# 10 List all incomplete rides along with the reason:

CREATE VIEW ID_With_Incomplete_Reason AS
SELECT Booking_ID, Incomplete_Rides_Reason
FROM bookings
WHERE Incomplete_Rides = 'Yes';

SELECT * FROM ID_With_Incomplete_Reason;